/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*//*
  ========================================
  Cброс CSS
  ========================================
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body { line-height: 1;}
ol, ul {  list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;}
table {
    border-collapse: collapse;
    border-spacing: 0;}
/*
  ========================================
  Пользовательские стили
  ========================================
*/
body {
    background: #A52A2A;
    color: #888;
    font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
  ========================================
  Сетка
  ========================================
*/
/* (*) это универсальный селектор, который выбирает каждый элемент*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*Выравнивание по центру*/
.container,
.grid {
    margin: 0 auto;
    width: 1200px;
}
.container {
    padding-left: auto;
    padding-right: auto;
}
.grid,
.col-1-2, .col-1{
    padding-left: auto;
    padding-right: auto;
}
.col-1-2 {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 50%;
}
.col-1 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 100%;
}
.col-1 p {
    color: #800000;
    text-align: left;
    font-style: italic;
    font-size: 22px;
    margin: 0 0 0 10px;
    text-indent: 50px;
}
b {
    color: #fff;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    font-weight: 600;
}
.col-1-2 p {
    color: #800000;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    font-size: 22px;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group::before,
.group::after {
    content: "";
    display: table;
}
.group::after { clear: both; }
.group {
    clear: both;
    *zoom: 1;
}
/*
  ========================================
  Полосы
  ========================================
*/
.row {
    background: #FFEBCD;
    min-width: 1200px;
    padding: 30px 0 44px 0;
    border-radius: 10px;
    width: 300px; /* Ширина слоя */
    margin: auto; /* Значение отступов */
}
/*
  ========================================
  Типографика   #DCDCDC
  ========================================
*/
/*Устан. некоторое вертикальное пространство между элементами*/
h1, h3, h4, h5, p {
    margin-bottom: 22px;
    color: #FFE4E1;
}
h1 {
    font-size: 36px;
    line-height: 44px;
}
h2 {
    font-size: 34px;
    line-height: 44px;
    color: #800000;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}
h3 {
    font-size: 21px;
    color: #800000;
    text-align: center;
    text-transform: uppercase;
}
h4 {
    font-size: 18px;
    color: #800000;
    text-align: center;
    text-transform: uppercase;
}
h5 {
    color: #800000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
}
strong { font-weight: 400; }
cite, em { font-style: italic; }
/*
  ========================================
  Ссылки
  ========================================
*/
a {
    color: #800000;
    text-decoration: none;
}
a:hover { color: #DCDCDC; }
.a-hov:hover {color: #A52A2A;}
p a { border-bottom: 1px solid #DCDCDC; }
.primary-header a,
.primary-footer a {
    color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
    color: #DCDCDC;
}
/*
  ========================================
  Кнопки
  ========================================
*/
.btn {
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    background: #A52A2A;
    background: linear-gradient(#960018,#A52A2A);
}
.btn-alt {
    border: 1px solid #fff;
    padding: 5px 15px;
    color: #FFE4E1;
}
.btn-alt:hover {
    background: #A52A2A;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.btn-center{ text-align: center; }
/*
  ========================================
  Основной заголовок
  ========================================
*/
.logo {
    order-top: 4px solid #FFE4E1;
    float: left;
    font-size: 48px;
    line-height: 44px;
    padding: 40px 0 0px 0;
}
/*
  ========================================
  Основной подвал
  ========================================
*/
.primary-footer {
    color: #FFE4E1;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}
.primary-footer small {
    float: left;
    font-weight: 400;
}
.primary-footer p {
    font-size: 16px;
    text-align: center;
    font-style: italic;
}
/*
  ========================================
  Главная страница
  ========================================
*/
.hero {
    color: #FFE4E1;
    line-height: 44px;
    padding: 0px 80px 0px 80px;
    text-align: center;
}
.hero h2 { font-size: 36px; }
.hero p { font-size: 24px; }
/*
  ========================================
  Меню навигации
  ========================================
*/
.navigation ul{
    font: 400 20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 60px 0 0 0;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: .5px;
}
.navigation li { display: inline-block; }
.navigation a {
    background: #A52A2A;
    background: linear-gradient(#960018,#A52A2A);
    border-right: 1px solid rgba(0, 0, 0, .3);
    padding: 6px 15px;
    text-decoration: none;
}
.navigation a:hover {
    background: #A52A2A;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigation li:first-child a { border-radius: 4px 0 0 4px; }
.navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}
.navigation span{
    font: 400 19px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 60px 0 0 0;
    text-transform: capitalize;
    text-align: right;
    letter-spacing: .5px;
    color: #fff;
}
/* НАВЕРХ */
a.idTop {
    position: fixed; /*позиционирование кнопки фиксированное*/
    z-index: 9999; /*отображаем поверх всех элементов*/
    bottom: 0%; /*положение снизу*/
    right: 0%; /*положение справа*/
    background: #A52A2A; /*фон, можно указать любую картинку*/
    color: #fff; /*цвет текста*/
    padding: 10px; /*внутренние отступы*/
    margin: 5px 15px 15px 5px; /*внешние отступы*/
    background: linear-gradient(#960018,#A52A2A);
    border-right: 1px solid rgba(0, 0, 0, .3);
    opacity: .7; /*прозрачность*/
}
a.idTop:hover { opacity: 1; }
/*
  ========================================
  Форма Вход
  ========================================
*/
*,
*:before,
*:after { box-sizing: border-box; }
form {
    border-radius: 5px;
    font: 20px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    width: 400px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
 form.dish {
     width: 900px;
}
 ul.table{
     text-align: center;
     width: 1200px;
     margin:auto;
 }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
input, select, textarea{
    border-radius: 5px;
    font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}
legend{
    color: #800000;
    size: 14px;
}
.h {
    font-size: 21px;
    color: #800000;
    text-align: center;
    font-weight: 600;
}
.account-info {
    padding: 20px 20px 0 20px;
    text-align: left;
}
.account-info label  {
    color: #800000;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}
.account-info input, select, textarea {
    background: #fff;
    border: 1px solid #c6c7cc;
    color: #636466;
    padding: 6px;
    margin-top: 6px;
}
.widthinput { width: 100%; }
.account-action { padding: 20px; }
.account-action label {
    font-size: 20px;
    float: left;
}
/*
  ========================================
  Вид Меню
  ========================================
*/
table{margin:auto;}
table td{
    padding: 10px;
    color: #800000;
    text-align: left;
    width: 550px;
}
td.box{
    width: 900px;}
td.button{
      width: 100px;
  }
.comp {
    padding: 5px;
    color: #800000;
    text-align: left;
}
.select { font-weight: 600; /* Жирное начертание */}
.menu-item{
    float:left;
    width:100%;
    position:relative;
    padding:5px 150px;
}
.menu-item-details{
    display:table
}
.menu-item-desc{
    color: #800000;
    padding-right: 5px;
    font-family: 'Droid Serif', serif;
    font-weight:bold;
    font-style:italic;
    text-align:left;
    font-size:20px;
    display: table-cell;
    white-space: nowrap;
    width: 10%;
    line-height:15px;
}
/*.image-popup*/
.menu-item-dot{
    color: #800000;
    display: table-cell;
    width: 88%;
    border-bottom: 1px dotted #000;
}
.menu-item-prices{
    color: #800000;
    display: table-cell;
    white-space: nowrap;
    width: 2%;
    padding:10px 0 0 10px;
    text-align:left;
}
.menu-item-price{
    color: #800000;
    text-align:left;
    font-size:20px;
}