<% layout('layout/page') -%>
<% block('title', 'Контакты'); %>

<section class="row">
    <div class="grid">
        <h2>Контакты</h2>
        <h4>ул. Князя Трубецкого 55</h4>
        <h3>55-29-84</h3>
        <h4>Vopros@WhiteBerry.club</h4>
        <p>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=X5bNb7W2kJF6AaPMStoVlHG8dkg4Hiev&amp;width=1200&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true">
            </script>
        </p>
    </div>
</section>