<% layout('layout/page') -%>
<% block('title', 'Главная'); %>

<section class="hero container">
    <b>Добро пожаловать в ресторан «WhiteBerry»! <br>
        В нашем меню — широкий ассортимент блюд различной кухни, которые готова исполнить для Вас команда мастеров.
        <br>А если к ним добавить живописный вид из окна, благородство и уют интерьера,<br> грамотный сервис и приятную музыку?<br> Да! Ваш вечер неминуемо будет безупречным!</b>
</section>
<section class="row">
    <div class="grid">
        <section class="col-1">
            <h2>Меню ресторана</h2>
            <p>В меню ресторана «WhiteBerry» помимо широкого ассортимента традиционных блюд, мы можем предложить Вам разнообразие блюд классической европейской, аристократической русской и традиционной украинской кухни. Среди всего многообразия блюд выделяются авторские блюда от шеф-повара.<br>
                Кроме этого мы сможем удивить Вас блюдами, приготовленными на открытом огне и, конечно же, десертами,которые не смогут оставить равнодушным даже самого искушенного гурмана.<br>
                Мы используем только лучшие, самые свежие продукты и максимально сохраняем их природные полезные свойства.</p><br>
        </section>
        <section class="btn-center">
            <a class="btn btn-alt" href="/menu?category=Салаты">Заказать еду на дом</a>
        </section>
        <section class="col-1">
            <br>
            <h2>Услуги</h2>
            <p>В ресторане "WhiteBerry" ваш праздник пройдет на самом должном уровне: с красивой выездной церемонией, фуршетом, в пьянящей атмсофере чувств и восторженных улыбок гостей. <br>Мы предлагаем широкий выбор блюд на любой вкус. Кулинарные традиции нашей кухни оставят неизгладимое впечатление от праздника.Доверьте свой праздник профессионалам!<br>
                Служба кейтеринга «WhiteBerry» - гарантия Вашего удовольствия, а главное – гарантия успешного проведения Вашего мероприятия!<br><br>
                РЕСТОРАН «WhiteBerry» ПРЕДЛАГАЕТ ВАМ СЛЕДУЩИЕ ЗАЛЫ ДЛЯ ОТДЫХА:<br><br>
                &#8594; Банкетный 3ал VIP вместимостью до 16 гостей ;<br>
                &#8594; Балкон на 20 гостей;<br>
                &#8594; Уютный зал на 55 гостей;<br>
                &#8594; Великолепную веранду на 30 гостей.<br></p><br>
        </section>
    </div>
</section>
